.group-child {
  position: absolute;
  top: 0;
  left: -1366px;
  background-color: var(--neutrals-white);
  width: 1366px;
  height: 559px;
}
.unsplashxxpbdu-31sg-icon {
  position: absolute;
  top: 15.25px;
  left: 936px;
  width: 430px;
  height: 543.75px;
  object-fit: cover;
}
.rectangle-parent {
  position: absolute;
  top: 160px;
  left: 1366px;
  width: 1366px;
  height: 559px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.group-item,
.our-specialties,
.our-specialties-wrapper {
  position: absolute;
  top: 0;
  width: 237.07px;
  height: 33.52px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.our-specialties {
  left: 0;
  display: inline-block;
}
.group-item,
.our-specialties-wrapper {
  left: -359.46px;
}
.group-item {
  left: -239px;
  border-radius: var(--br-8xs);
  background-color: var(--primary);
  width: 239px;
  height: 155.83px;
}
.bones,
.vector-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 48.19px;
  height: 39.86px;
}
.bones {
  top: 47.11px;
  left: -0.96px;
  display: inline-block;
  width: 46.26px;
  height: 17.21px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.vector-icon1,
.vector-parent {
  position: absolute;
  width: 48.19px;
}
.vector-parent {
  top: 45.3px;
  left: -334.41px;
  height: 64.33px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  color: var(--accent);
}
.vector-icon1 {
  top: 0;
  left: 13.49px;
  height: 39.86px;
}
.neurology {
  top: 47.11px;
  left: 0;
  display: inline-block;
  width: 76.13px;
  height: 17.21px;
}
.group-inner,
.neurology,
.rectangle-div,
.vector-group {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.vector-group {
  top: 45.3px;
  left: -80.95px;
  width: 76.13px;
  height: 64.33px;
}
.group-inner,
.rectangle-div {
  left: 0;
}
.group-inner {
  top: 0;
  border: 0.2px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 239px;
  height: 155.83px;
}
.rectangle-div {
  top: 155.83px;
}
.group-child1,
.group-child2,
.rectangle-div {
  border: 0.2px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 239px;
  height: 155.83px;
}
.group-child1 {
  position: absolute;
  top: 311.66px;
  left: 0;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.group-child2 {
  top: 155.83px;
  left: -239px;
}
.group-child2,
.group-child3,
.group-child4,
.group-child5 {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.group-child3 {
  top: 311.66px;
  left: -239px;
  border: 0.2px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 239px;
  height: 155.83px;
}
.group-child4,
.group-child5 {
  left: -478px;
}
.group-child4 {
  top: 0;
  border: 0.2px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 239px;
  height: 155.83px;
}
.group-child5 {
  top: 155.83px;
}
.group-child5,
.group-child6,
.group-child7,
.group-child8 {
  border: 0.2px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 239px;
  height: 155.83px;
}
.group-child6 {
  position: absolute;
  top: 311.66px;
  left: -478px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.group-child7,
.group-child8 {
  left: -717px;
}
.group-child7 {
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.group-child8 {
  top: 155.83px;
}
.group-child8,
.group-child9,
.rectangle-container {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.group-child9 {
  top: 311.66px;
  left: -717px;
  border: 0.2px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 239px;
  height: 155.83px;
}
.rectangle-container {
  top: 0;
  left: 0;
  width: 956px;
  height: 467.49px;
}
.vector-icon2 {
  position: absolute;
  top: 0;
  left: 10.6px;
  width: 48.19px;
  height: 39.86px;
}
.oncology,
.vector-container {
  position: absolute;
  width: 70.35px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.oncology {
  top: 47.11px;
  left: 0;
  display: inline-block;
  height: 17.21px;
}
.vector-container {
  top: 45.3px;
  left: -561.84px;
  height: 64.33px;
}
.vector-icon3 {
  position: absolute;
  top: 0;
  left: 52.04px;
  width: 48.19px;
  height: 39.86px;
}
.group-div,
.otorhinolaryngology {
  position: absolute;
  width: 153.23px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.otorhinolaryngology {
  top: 47.11px;
  left: 0;
  display: inline-block;
  height: 17.21px;
}
.group-div {
  top: 45.3px;
  left: -759.4px;
  height: 64.33px;
}
.vector-icon4 {
  position: absolute;
  top: 0;
  left: 31.8px;
  width: 48.19px;
  height: 39.86px;
}
.cardiovascular,
.vector-parent1 {
  position: absolute;
  width: 111.79px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.cardiovascular {
  top: 47.11px;
  left: 0;
  display: inline-block;
  height: 17.21px;
}
.vector-parent1 {
  top: 201.13px;
  left: -302.6px;
  height: 64.33px;
}
.vector-icon5 {
  position: absolute;
  top: 0;
  left: 4.82px;
  width: 48.19px;
  height: 39.86px;
}
.urology,
.vector-parent2 {
  position: absolute;
  width: 57.82px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.urology {
  top: 47.11px;
  left: 0;
  display: inline-block;
  height: 17.21px;
}
.vector-parent2 {
  top: 356.96px;
  left: -329.59px;
  height: 64.33px;
}
.vector-icon6 {
  position: absolute;
  top: 0;
  left: 33.73px;
  width: 48.19px;
  height: 39.86px;
}
.ophthalmology,
.vector-parent3 {
  position: absolute;
  width: 115.65px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.ophthalmology {
  top: 47.11px;
  left: 0;
  display: inline-block;
  height: 17.21px;
}
.vector-parent3 {
  top: 201.13px;
  left: -61.68px;
  height: 64.33px;
}
.vector-icon7 {
  position: absolute;
  top: 0;
  left: 40.48px;
  width: 48.19px;
  height: 39.86px;
}
.gastroenterology,
.vector-parent4 {
  position: absolute;
  width: 130.1px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.gastroenterology {
  top: 47.11px;
  left: 0;
  display: inline-block;
  height: 17.21px;
}
.vector-parent4 {
  top: 356.96px;
  left: -53.97px;
  height: 64.33px;
}
.vector-icon8 {
  position: absolute;
  top: 0;
  left: 25.06px;
  width: 48.19px;
  height: 39.86px;
}
.pulmonology,
.vector-parent5 {
  position: absolute;
  width: 98.3px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.pulmonology {
  top: 47.11px;
  left: 0;
  display: inline-block;
  height: 17.21px;
}
.vector-parent5 {
  top: 201.13px;
  left: -548.35px;
  height: 64.33px;
}
.vector-icon9 {
  position: absolute;
  top: 0;
  left: 24.09px;
  width: 48.19px;
  height: 39.86px;
}
.dermatology,
.vector-parent6 {
  position: absolute;
  width: 96.37px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.dermatology {
  top: 47.11px;
  left: 0;
  display: inline-block;
  height: 17.21px;
}
.vector-parent6 {
  top: 356.96px;
  left: -549.31px;
  height: 64.33px;
}
.renal-medicine,
.vector-icon10 {
  position: absolute;
  top: 0;
  left: 32.77px;
  width: 48.19px;
  height: 39.86px;
}
.renal-medicine {
  top: 47.11px;
  left: 0;
  display: inline-block;
  width: 114.68px;
  height: 17.21px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.vector-parent7 {
  top: 201.13px;
  left: -778.68px;
  width: 114.68px;
  height: 64.33px;
}
.group-parent,
.rectangle-group,
.vector-parent7,
.vector-parent8 {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.vector-parent8 {
  top: 356.96px;
  left: -788.31px;
  width: 96.37px;
  height: 64.33px;
}
.group-parent,
.rectangle-group {
  width: 956px;
}
.rectangle-group {
  top: 91.51px;
  left: 0;
  height: 467.49px;
  font-size: var(--buttons-button-medium-size);
  color: var(--black);
  font-family: var(--body);
}
.group-parent {
  top: 160px;
  left: 1366px;
  height: 559px;
  text-align: center;
  font-size: var(--display-2-size);
}
.home {
  font-weight: 600;
  color: var(--accent);
}
.about-us,
.home {
  position: relative;
}
.home-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.group-icon {
  position: absolute;
  height: 48.89%;
  width: 9.87%;
  top: 24.44%;
  right: 90.58%;
  bottom: 26.67%;
  left: -0.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button1 {
  position: relative;
  font-weight: 500;
}
.button {
  position: absolute;
  height: 100%;
  width: 77.58%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 22.42%;
  border-radius: var(--br-31xl);
  background-color: var(--accent);
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-16xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-container {
  position: relative;
  width: 223px;
  height: 45px;
  font-size: var(--buttons-button-medium-size);
  color: var(--primary);
}
.navbar {
  position: absolute;
  top: 80px;
  left: 1366px;
  background-color: var(--color-darkslategray-100);
  width: 1366px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-168xl) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-257xl);
  transform: rotate(180deg);
  transform-origin: 0 0;
  color: var(--white);
  font-family: var(--body);
}
.topmost-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
}
.div,
.meddical,
.topmost-child {
  position: absolute;
}
.meddical {
  top: 23.75%;
  left: 13.69%;
  text-transform: uppercase;
}
.div {
  top: 49.77%;
  left: 24.6%;
  font-weight: 500;
}
.group-child10 {
  position: absolute;
  height: 90.52%;
  width: 21.65%;
  top: 9.48%;
  right: 78.35%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.emergency,
.parent {
  position: absolute;
  top: 0;
}
.emergency {
  left: 24.6%;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--primary);
}
.parent {
  height: 100%;
  width: 28.35%;
  right: 71.65%;
  bottom: 0;
  left: 0;
}
.everyday {
  position: absolute;
  top: 52.5%;
  left: 17.82%;
  font-weight: 500;
}
.group-child11 {
  position: absolute;
  height: 80%;
  width: 14.37%;
  top: 7.5%;
  right: 86.08%;
  bottom: 12.5%;
  left: -0.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.work-hour {
  position: absolute;
  top: 0;
  left: 17.82%;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--primary);
}
.everyday-parent {
  position: absolute;
  height: 94.81%;
  width: 33.99%;
  top: 2.37%;
  right: 34.45%;
  bottom: 2.82%;
  left: 31.55%;
}
.some-place {
  position: absolute;
  top: 52.5%;
  left: 19.39%;
  font-weight: 500;
}
.group-child12 {
  position: absolute;
  height: 95.27%;
  width: 15.63%;
  top: 0;
  right: 84.85%;
  bottom: 4.73%;
  left: -0.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.location {
  position: absolute;
  top: 0;
  left: 19.39%;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--primary);
}
.group-parent1,
.some-place-parent {
  position: absolute;
  height: 94.81%;
  width: 31.25%;
  top: 2.37%;
  right: 0;
  bottom: 2.82%;
  left: 68.75%;
}
.group-parent1 {
  height: 52.74%;
  width: 47.95%;
  top: 25%;
  right: 11.34%;
  bottom: 22.26%;
  left: 40.7%;
  font-size: var(--buttons-button-medium-size);
  color: var(--secondary);
  font-family: var(--body);
}
.navbar1,
.topmost {
  left: 1366px;
  box-sizing: border-box;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.topmost {
  position: absolute;
  top: 0;
  background-color: var(--color-teal);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  width: 1366px;
  height: 80px;
  font-size: var(--font-size-17xl);
}
.navbar1 {
  top: 80px;
  background-color: var(--color-mediumslateblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-168xl) var(--padding-lg);
  align-items: center;
  justify-content: center;
  gap: var(--gap-257xl);
  color: var(--white);
  font-family: var(--body);
}
.desktop-3,
.group-child25,
.navbar1 {
  position: absolute;
  width: 1366px;
}
.desktop-3 {
  top: 2913px;
  left: 1372px;
  background-color: var(--neutrals-white);
  height: 719px;
  overflow: hidden;
  transform: rotate(180deg);
  transform-origin: 0 0;
  font-size: var(--font-size-lg);
}
.group-child25 {
  top: 0;
  left: -1366px;
  background-color: var(--color-turquoise);
  height: 550px;
}
.physician-trends-2021-merritt-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 550px;
  object-fit: cover;
}
.group-child26 {
  position: absolute;
  top: 0;
  left: -1366px;
  background: linear-gradient(268.24deg, #e5e4e8 8.79%, rgba(235, 234, 239, 0));
  width: 1366px;
  height: 550px;
}
.frame-child,
.frame-item {
  position: absolute;
  top: 199px;
  left: 889px;
  border-radius: 50%;
  background-color: var(--accent);
  width: 734px;
  height: 734px;
  opacity: 0.5;
}
.frame-item {
  top: -599px;
  left: -387px;
  background-color: var(--secondary);
  opacity: 0.3;
}
.book-an-appointment {
  position: relative;
  line-height: 140%;
}
.calendar-icon {
  position: relative;
  width: 52px;
  height: 52px;
}
.cash-icon,
.team-icon {
  position: relative;
  width: 50px;
  height: 42.24px;
  display: none;
}
.cash-icon {
  height: 36.46px;
}
.goals {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xl) var(--padding-xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-37xl);
}
.calendar-icon1 {
  position: relative;
  width: 50px;
  height: 50px;
  display: none;
}
.team-icon1 {
  position: relative;
  width: 52px;
  height: 44.24px;
}
.goals1 {
  position: absolute;
  top: 0;
  left: 337px;
  border-radius: var(--br-8xs);
  background-color: var(--accent);
  height: 100px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xl) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-37xl);
  color: var(--color-darkslategray-100);
}
.cash-icon2 {
  position: relative;
  width: 52px;
  height: 38.46px;
}
.goals-parent,
.goals2 {
  position: absolute;
  height: 100px;
}
.goals2 {
  top: 0;
  left: 675px;
  border-radius: var(--br-8xs);
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xl) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-37xl);
}
.goals-parent {
  top: 12px;
  left: 9px;
  width: 991px;
}
.ellipse-parent,
.rectangle-icon {
  position: absolute;
  left: 0;
  width: 1366px;
  height: 550px;
}
.ellipse-parent {
  top: 0;
  overflow: hidden;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.rectangle-icon {
  top: 169px;
  object-fit: cover;
  display: none;
}
.leading-the-way {
  margin: 0;
}
.button8,
.leading-the-way-container {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.leading-the-way-container {
  top: 29px;
  left: 0;
  font-family: var(--display-2);
}
.button8 {
  top: 171px;
  left: -1px;
  border-radius: var(--br-31xl);
  background-color: var(--accent);
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-16xl);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--buttons-button-medium-size);
}
.caring-for-life {
  top: 0;
  left: -1px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: var(--color-cadetblue);
}
.caring-for-life,
.leading-the-way-in-medical-exc-parent,
.rectangle-parent1 {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.leading-the-way-in-medical-exc-parent {
  top: 167px;
  left: -186px;
  width: 519px;
  height: 216px;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-100);
}
.rectangle-parent1 {
  top: 169px;
  left: 0;
  width: 1366px;
  height: 550px;
}
.goals3,
.goals4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumslateblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xl) var(--padding-xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-37xl);
}
.goals4 {
  left: 337px;
  background-color: var(--accent);
  height: 100px;
  box-sizing: border-box;
  color: var(--color-mediumslateblue);
}
.button10,
.leading-the-way-in-medical-exc-group {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.button10 {
  top: 171px;
  left: -1px;
  border-radius: var(--br-31xl);
  background-color: var(--accent);
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-16xl);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  font-size: var(--buttons-button-medium-size);
}
.leading-the-way-in-medical-exc-group {
  top: 167px;
  left: -186px;
  width: 519px;
  height: 216px;
  font-size: var(--font-size-29xl);
  color: var(--color-mediumslateblue);
}
.group-parent9 {
  position: relative;
  width: 223px;
  height: 45px;
  font-size: var(--buttons-button-medium-size);
  color: var(--secondary);
}
.navbar4 {
  position: absolute;
  top: 89px;
  left: 0;
  background-color: var(--color-darkslategray-100);
  width: 1366px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-168xl) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-257xl);
  transform: rotate(180deg);
  transform-origin: 0 0;
  font-size: var(--font-size-lg);
}
.group-parent10 {
  position: absolute;
  height: 52.74%;
  width: 47.95%;
  top: 25%;
  right: 11.34%;
  bottom: 22.26%;
  left: 40.7%;
  font-size: var(--buttons-button-medium-size);
  color: var(--color-teal);
  font-family: var(--body);
}
.topmost4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--neutrals-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1366px;
  height: 80px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  font-size: var(--font-size-17xl);
  color: var(--primary);
  font-family: var(--display-2);
}
.home5 {
  position: relative;
  font-weight: 600;
}
.button14 {
  position: absolute;
  height: 100%;
  width: 77.58%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 22.42%;
  border-radius: var(--br-31xl);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-16xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent11 {
  position: relative;
  width: 223px;
  height: 45px;
  font-size: var(--buttons-button-medium-size);
  color: var(--color-teal);
}
.navbar5 {
  position: absolute;
  top: 89px;
  left: 0;
  background-color: var(--color-mediumslateblue);
  width: 1366px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-168xl) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-257xl);
  transform: rotate(180deg);
  transform-origin: 0 0;
  font-size: var(--font-size-lg);
}
.group-parent12 {
  position: absolute;
  height: 52.74%;
  width: 47.95%;
  top: 25%;
  right: 11.34%;
  bottom: 22.26%;
  left: 40.7%;
  font-size: var(--buttons-button-medium-size);
  color: var(--color-royalblue);
  font-family: var(--body);
}
.group-parent8 {
  position: absolute;
  top: 0;
  left: 1366px;
  width: 1366px;
  height: 719px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.desktop-2,
.group-child38 {
  position: absolute;
  background-color: var(--neutrals-white);
  width: 1366px;
}
.desktop-2 {
  top: 2059px;
  left: 1366px;
  height: 719px;
  overflow: hidden;
  transform: rotate(180deg);
  transform-origin: 0 0;
  color: var(--white);
  font-family: var(--body);
}
.group-child38 {
  top: 0;
  left: -1366px;
  height: 550px;
}
.sign-up-wrapper {
  top: 0;
  left: -5px;
  height: 27.88px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-9xl);
  color: var(--color-darkslateblue-400);
}
.group-child39,
.please-fill-your-information-b-wrapper,
.sign-up-wrapper {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.please-fill-your-information-b-wrapper {
  top: 56.85px;
  left: -5px;
  height: 15.93px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-darkslateblue-300);
}
.group-child39 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 443px;
  height: 70.92px;
}
.iconlyboldprofile {
  position: absolute;
  height: 37.1%;
  width: 5.42%;
  top: 30.92%;
  right: 90.74%;
  bottom: 31.98%;
  left: 3.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.name-wrapper,
.rectangle-parent4 {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.name-wrapper {
  top: 22.16px;
  left: -59px;
  height: 49.51px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent4 {
  top: 101.33px;
  left: -1px;
  width: 443px;
  height: 71.67px;
}
.already-have-an-account-wrapper,
.login-to-your-account-wrapper {
  position: absolute;
  top: 19.91px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.login-to-your-account-wrapper {
  left: -267px;
  color: var(--color-royalblue);
}
.line-div {
  position: absolute;
  top: -0.5px;
  left: -443.5px;
  border-top: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 444px;
  height: 1px;
}
.frame-parent,
.mobile-number-wrapper,
.xxx-wrapper {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.frame-parent {
  top: 432.61px;
  left: -10px;
  width: 443px;
  height: 43.91px;
  color: var(--color-darkslateblue-200);
}
.mobile-number-wrapper,
.xxx-wrapper {
  top: 0;
  left: -23px;
  height: 33.81px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.xxx-wrapper {
  top: 30.27px;
  left: -64px;
  height: 50.72px;
  font-size: var(--font-size-lg);
}
.group-child40 {
  position: absolute;
  top: 5.56px;
  left: -1.5px;
  border-radius: var(--br-3xs);
  width: 456px;
  height: 76.65px;
}
.mobile-light-solid {
  position: absolute;
  top: 34.3px;
  left: 24px;
  width: 19px;
  height: 19.17px;
  overflow: hidden;
}
.frame-group {
  top: 189.07px;
  left: 0;
  width: 453px;
  height: 80.98px;
  font-size: var(--font-size-xs);
  color: var(--color-darkslateblue-100);
}
.e-mail-wrapper,
.frame-group,
.group-child41 {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.group-child41 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 453px;
  height: 63.58px;
}
.e-mail-wrapper {
  top: 19.87px;
  left: -60.33px;
  width: 55.22px;
  height: 44.39px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.envelope-light-solid {
  position: absolute;
  top: 21.86px;
  left: 19.43px;
  width: 20.45px;
  height: 19.87px;
  overflow: hidden;
}
.rectangle-parent5 {
  position: absolute;
  top: 282.99px;
  left: 0;
  width: 453px;
  height: 64.26px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.menu,
.right {
  position: absolute;
}
.right {
  top: 31px;
  left: -896px;
  width: 453px;
  height: 476.52px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  color: var(--color-lightslategray);
}
.menu {
  top: 72px;
  left: 94px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.align-justify-icon {
  position: absolute;
  top: 22px;
  left: 26px;
  width: 50px;
  height: 50px;
}
.menu1 {
  position: absolute;
  top: 28px;
  left: 82px;
  line-height: 38px;
}
.unsplashzbpgmge27p8-icon {
  position: absolute;
  top: -2px;
  left: 0;
  width: 806px;
  height: 552px;
  object-fit: cover;
}
.vector-icon12 {
  position: relative;
  width: 42.14px;
  height: 41px;
}
.curesyne {
  position: relative;
  letter-spacing: 0.01em;
}
.logo,
.name1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo {
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.subtract-icon {
  position: relative;
  width: 7.93px;
  height: 14.73px;
}
.facebook,
.social-media-logo {
  display: flex;
  flex-direction: row;
}
.facebook {
  width: 20.4px;
  height: 20.4px;
  align-items: center;
  justify-content: center;
}
.social-media-logo {
  border-radius: 21.53px;
  background-color: var(--neutrals-white);
  padding: 6.800000190734863px;
  align-items: flex-start;
  justify-content: flex-start;
}
.subtract-icon1,
.subtract-icon2 {
  position: relative;
  width: 13.6px;
  height: 13.6px;
}
.subtract-icon2 {
  width: 11.33px;
  height: 10.2px;
}
.social-login {
  width: 267px;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-xs);
}
.logo-social-login {
  position: absolute;
  top: 9px;
  left: 263px;
  width: 333px;
  height: 528px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-345xl);
  font-size: var(--font-size-19xl);
  font-family: var(--buttons-button-medium);
}
.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 655px;
  height: 550px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  font-size: var(--font-size-5xl);
}
.icon-left-wrapper {
  position: relative;
  width: 12px;
  height: 20px;
  display: none;
}
.label {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
}
.get-started,
.get-started1,
.rectangle-parent3 {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.get-started {
  top: 400px;
  left: -1193px;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumslateblue);
  width: 134.16px;
  height: 42.28px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xl);
  font-family: var(--buttons-button-medium);
}
.get-started1,
.rectangle-parent3 {
  top: 159px;
  left: 0;
  width: 1366px;
  height: 550px;
}
.get-started1 {
  top: 421px;
  left: -1206px;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumslateblue);
  width: 134.16px;
  height: 42.28px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xl);
  font-family: var(--buttons-button-medium);
}
.group-child47 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 550px;
}
.sign-up-frame {
  top: 0;
  left: 0;
  height: 27.88px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-9xl);
}
.frame-parent2,
.please-fill-your-information-b-frame,
.sign-up-frame {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.please-fill-your-information-b-frame {
  top: 56.85px;
  left: 0;
  height: 15.93px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-darkslateblue-300);
}
.frame-parent2 {
  top: 432.61px;
  left: -5px;
  width: 443px;
  height: 43.91px;
  color: var(--color-darkslateblue-200);
}
.right2 {
  top: 31px;
  left: -901px;
  width: 448px;
  height: 476.52px;
  color: var(--color-darkslateblue-400);
}
.label2,
.right2,
.vector-parent9 {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.label2 {
  top: 12px;
  left: -20px;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-family: var(--buttons-button-medium);
}
.vector-parent9 {
  top: 160px;
  left: 0;
  width: 1366px;
  height: 550px;
}
.navbar6,
.topmost6 {
  left: 0;
  box-sizing: border-box;
}
.navbar6 {
  position: absolute;
  top: 80px;
  background-color: var(--color-darkslategray-100);
  width: 1366px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-168xl) var(--padding-lg);
  align-items: center;
  justify-content: center;
  gap: var(--gap-257xl);
  transform: rotate(180deg);
  transform-origin: 0 0;
  font-size: var(--font-size-lg);
  color: var(--white);
  font-family: var(--body);
}
.topmost6 {
  top: 0;
  background-color: var(--color-teal);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  height: 80px;
  font-size: var(--font-size-17xl);
  color: var(--primary);
  font-family: var(--display-2);
}
.frame-parent3,
.group-parent13,
.navbar7,
.rectangle-parent9,
.topmost6 {
  position: absolute;
  width: 1366px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.navbar7 {
  top: 80px;
  left: 0;
  background-color: var(--color-mediumslateblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-168xl) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-257xl);
  font-size: var(--font-size-lg);
  color: var(--white);
  font-family: var(--body);
}
.frame-parent3,
.group-parent13,
.rectangle-parent9 {
  top: -1px;
  left: 1366px;
  height: 710px;
}
.frame-parent3,
.rectangle-parent9 {
  top: 472.99px;
  left: 470px;
  width: 453px;
  height: 64.26px;
  cursor: pointer;
  color: var(--color-lightslategray);
}
.frame-parent3 {
  top: 379.07px;
  height: 80.98px;
  font-size: var(--font-size-xs);
  color: var(--color-darkslateblue-100);
}
.group-parent20 {
  position: relative;
  width: 223px;
  height: 45px;
  cursor: pointer;
  font-size: var(--buttons-button-medium-size);
  color: var(--primary);
}
.navbar9 {
  position: absolute;
  top: 79px;
  left: 1366px;
  background-color: var(--color-mediumslateblue);
  width: 1366px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-168xl) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-257xl);
  transform: rotate(180deg);
  transform-origin: 0 0;
  font-size: var(--font-size-lg);
  color: var(--white);
  font-family: var(--body);
}
.group-child64 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 443px;
  height: 70.92px;
  cursor: pointer;
}
.desktop-1,
.group-child64,
.next,
.rectangle-parent10 {
  position: absolute;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.rectangle-parent10 {
  top: 291.33px;
  left: 469px;
  width: 443px;
  height: 71.67px;
  color: var(--color-lightslategray);
}
.desktop-1,
.next {
  overflow: hidden;
}
.next {
  top: 562px;
  left: 151px;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumslateblue);
  width: 134.16px;
  height: 42.28px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  cursor: pointer;
  font-size: var(--font-size-xl);
  font-family: var(--buttons-button-medium);
}
.desktop-1 {
  top: 1074px;
  left: 1366px;
  width: 1366px;
  height: 709px;
  color: var(--neutrals-white);
  font-family: var(--font-poppins);
}
.content-child,
.desktop-1 {
  background-color: var(--neutrals-white);
}
.content,
.content-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 683px;
  height: 738px;
}
.features,
.support {
  position: absolute;
  top: 18px;
  left: 1125px;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.support {
  left: 1248px;
}
.navigation-d {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f3f0f0;
  width: 1366px;
  height: 55.35px;
  overflow: hidden;
}
.unsplashnmym7fxpoke-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 691px;
  height: 738px;
  object-fit: cover;
}
.curesync {
  margin: 0;
  font-size: 60px;
}
.welcome-to-curesync-container1 {
  line-break: anywhere;
  width: 100%;
}
.get-started2,
.welcome-to-curesync-container {
  position: absolute;
  display: flex;
  align-items: center;
}
.welcome-to-curesync-container {
  top: 206px;
  left: 720px;
  letter-spacing: -0.01em;
  color: var(--color-black);
  width: 569px;
  height: 220px;
  font-size: 28.44px;
  font-family: var(--font-comfortaa);
}
.get-started2 {
  top: 405px;
  left: 930px;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumslateblue);
  width: 134.16px;
  height: 42.28px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-5xs);
  cursor: pointer;
  text-align: left;
  font-size: var(--buttons-button-medium-size);
  color: var(--neutrals-white);
  font-family: var(--buttons-button-medium);
}
.content-parent,
.hero-a {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 738px;
}
.hero-a {
  background-color: var(--neutrals-white);
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--actionable-item);
  font-family: var(--font-montserrat);
}
.desktop-3-parent {
  position: relative;
  width: 100%;
  height: 3632px;
  text-align: left;
  font-size: var(--buttons-button-medium-size);
  color: var(--primary);
  font-family: var(--display-2);
}
